// Variables

$text		: #666		// body text color
$primary 	: #589199;	// primary color used in ui elements
$secondary 	: #a79374;	// secondary color used in ui elements
$m 			: 12px;		// body text size, used for base of most measurements
$icon 		: 16px;		// grid unit size for sprite file

// All base smaller and body text, stylized font defined in base.css.scss
$font 		: Arial, Helvetica, sans-serif;


// Import all css partials
@import "base.css";
@import "tags.css";
@import "list.css";