// Base mixins and includes
// Add base implementations when possible as classes

/* Special Font / Bold Font */
@font-face {
    font-family: 'avenir_45_bookregular';
    src: url('avenir-book-webfont.eot');
    src: url('avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenir-book-webfont.woff') format('woff'),
         url('avenir-book-webfont.ttf') format('truetype'),
         url('avenir-book-webfont.svg#avenir_45_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$hfont		: 'avenir_45_bookregular',"Century Gothic", sans-serif;

/* Corners */
@mixin corners($px) {
	-moz-border-radius: $px;
	-webkit-border-radius: $px;
	border-radius: $px; /* future proofing */
	-khtml-border-radius: $px; /* for old Konqueror browsers */
}
@mixin corner($v,$h,$px) {
	-moz-border-radius-#{$v}#{$h}: $px;
	-khtml-border-radius-#{$v}#{$h}: $px;
	-webkit-border-#{$v}-#{$h}-radius: $px;
	border-#{$v}-#{$h}-radius: $px;
}
.corners {
	@include corners(.5em);
}
.corner-tl {
	@include corner(top,left,.5em);
}
.corner-tr {
	@include corner(top,right,.5em);
}
.corner-bl {
	@include corner(bottom,left,.5em);
}
.corner-br {
	@include corner(bottom,right,.5em);
}

/* Shadow */
@mixin shadow($color,$offest,$blur) {
	-moz-box-shadow:    $offest $offest $blur  $color;
	-webkit-box-shadow: $offest $offest $blur  $color;
	box-shadow:         $offest $offest $blur  $color;
}

/* Opacity - Needs 0-100 */
@mixin opacity($a) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$a)";
  filter: alpha(opacity=$a);
  -moz-opacity: ($a/100);
  -khtml-opacity: ($a/100);
  opacity: ($a/100);
}

.no-opacity {
	@include opacity(0)
}

/* Clear */
.clear {
	clear: both;
	display: block;
}

.sm-clear {
	@extend .clear;
	height: 0; overflow: hidden;
}

/* Reset */
.reset {
	padding: 0; margin: 0; background: none; border: none; 
	letter-spacing: normal; float: none; height: auto; width: auto;
	list-style: none;
}