<a id="logo" href="/">Sungard AS</a>
<form id="search">
	<label>Search for: <input type="text" name="s" /><input type="submit" value="Go" />
</form>
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/">About</a>
			<ul>
				<li><a href="/">Mission</a></li>
				<li><a href="/">History</a></li>
				<li><a href="/">Staff</a></li>
				<li><a href="/">Locations</a></li>
			</ul>
		</li>
		<li><a href="/">Contact</a></li>
	</ul>
</nav>