<h1>Sungard AS Interface CSS <span>(h1: one per page)</span><a href="">view all</a></h1>
<h2>h2 Tag for section headings <span>(can have more than one)</span></h2>
<p>This page contains all code snippets for implementation. <strong>Bold text sample.</strong></p>
<ul>
	<li>list item one</li>
	<li>item two</li>
	<li>list item 3</li>
	<li>lister four</li>
	<li>list item 5</li>
</ul>